.item-lst{
    margin: 24px 0;
}

.item-lst strong{
    color: #539BF5;
    font-size: 24px;
    margin: 24px 0;
}

.item-lst p{
    color: #999999;
    font-size: 18px;
    margin: 24px 0;
}